.container {
  display: flex;
  flex-direction: column;
}

.fullscreen-container {
  min-height: 100vh;
}

.fullscreen-component {
  min-height: 70vh;
}

.preloader {
  display:block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 80px;
  width: 64px;
  height: 64px;
}